<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Salary</th>
        <th>DOJ</th>
        <th>Dept</th>
        <th>Actions</th>
    </tr>

    <tr th:each="e : ${emps}">
        <td th:text="${e.empId}"></td>
        <td th:text="${e.empName}"></td>
        <td th:text="${e.empSal}"></td>
        <td th:text="${e.empDoj}"></td>
        <td th:text="${e.deptName}"></td>

        <td>
            <a th:href="@{'/edit/' + ${e.empId}}">Edit</a>
            <a th:href="@{'/delete/' + ${e.empId}}">Delete</a>
        </td>
    </tr>
</table>

<p th:text="${msg}"></p>
</body>
</html>